body, html
  height: 100%;
  font-family: "Open Sans", sans-serif;

body 
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(148,241,246,1) 0%, rgba(148,189,246,1) 100.7% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;