.btn-primary:hover
  box-shadow: 1px 1px 10px var(--bs-btn-bg);
.btn-secondary:hover
  box-shadow: 1px 1px 10px var(--bs-btn-bg);
.btn-warning:hover
  box-shadow: 1px 1px 10px var(--bs-btn-bg);
.btn-danger:hover
  box-shadow: 1px 1px 10px var(--bs-btn-bg);