@require "./body.styl"
@require "./navbar.styl"
@require "./card.styl"
@require "./modal.styl"
  



.btn-primary:hover
  box-shadow: 1px 1px 10px blue;

.copyright 
  position: absolute;
  bottom: 0px;
  font-size: 11px;

