body, html
  height: 100%;
  font-family: "Open Sans", sans-serif;

body 
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(148,241,246,1) 0%, rgba(148,189,246,1) 100.7% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

.navbar
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  box-shadow: 1px 1px 5px #888;
  border-bottom: .5px solid rgb(233,233,233);

  .navbar-brand
    color: #fff;
  .navbar-brand:hover
    text-shadow: 1px 1px 10px blue;
    color: #fff;

.nav-item
  margin:1px;
  border-bottom: 1px solid transparent !important;
.nav-item:hover
  border-bottom: 1px solid purple !important;
  // background-color: purple !important;
  

.btn-primary:hover
  box-shadow: 1px 1px 10px blue;

.copyright 
  position: absolute;
  bottom: 0px;
  font-size: 11px;

.card
  box-shadow: 1px 1px 5px grey;
.card:hover
  box-shadow: 1px 1px 10px blue;


.modal-backdrop
  background-image: url("./assets/pattern.jpg")
  // opacity: 1;
  background-blend-mode: darken;

.modal-content {
  box-shadow: 1px 1px 10px blue;
}  